@import "tailwindcss";

@theme inline {
    /* 🎨 Кольори */
    --color-ivory: #fffff0;
    --color-black: #151515;
    --color-grey: #737373;
    --color-emerald: #065d43;
    --color-white: #fffff6;
    --color-white-100: #ffffff;
    --color-grey-90: #a6a6a6;
    --color-grey-70: #dddddd;
    --color-green-100: #2f7d31;
    --color-green-20: #cddfd9;
    --color-green-30: #eef4f2;
    --color-green-10: #f5f9f7;
    --color-error: #900b09;
    --color-light-logo: #f9f9f9;
    --color-logo: #0b755509;
    --color-promo: #f6df29;

    /* 🔠 Шрифти */
    --font-oswald: var(--font-oswald);
    --font-arimo: var(--font-arimo);

    /* 📱 Breakpoints */
    --breakpoint-tab: 768px;
    --breakpoint-prepc: 1260px;
    --breakpoint-pc: 1440px;

    /* 🪞 Тіні */
    --shadow-button: 4px 4px 0 0 var(--color-black);
    --shadow-button-ivory: 4px 4px 0 0 var(--color-ivory);
}

body {
    background-color: var(--color-ivory);
    color: var(--color-black);
    font-family: var(--font-arimo);
}

@layer components {
    .content {
        @apply tab:px-6 pc:px-12 tab:max-w-full mx-auto max-w-[540px] px-4;
    }

    .slider-dot {
        @apply m-0 inline-flex h-3 w-3 cursor-pointer appearance-none rounded-xs border border-black bg-transparent p-0;
    }
    .slider-dot--selected {
        @apply justify-center bg-black;
    }
    .slider-dot-ivory {
        @apply border-ivory m-0 inline-flex h-3 w-3 cursor-pointer appearance-none rounded-xs border bg-transparent p-0;
    }
    .slider-dot-ivory--selected {
        @apply bg-ivory justify-center;
    }
}

button,
a {
    cursor: pointer;
}
.link-gradient {
    @apply transition-all duration-500;
    background: none;
}

.link-gradient:hover,
.link-gradient:active {
    background: linear-gradient(
        -10deg,
        #023f2c 0%,
        #09684b 21%,
        #0b7556 35%,
        #08654a 52%,
        #003626 83%
    );
}
.title-h1 {
    @apply font-oswald pc:text-7xl tab:text-5xl text-4xl leading-[90%];
}
.title-h1-up {
    @apply font-oswald pc:text-7xl tab:text-5xl text-4xl leading-[100%];
}

.subtitle {
    @apply font-oswald text-grey tab:text-base text-sm leading-none font-medium uppercase;
}
.subtitle-ivory {
    @apply font-oswald text-ivory tab:text-base text-sm leading-none font-medium uppercase;
}

.title-section {
    @apply font-oswald tab:text-4xl pc:text-5xl text-[28px] leading-[100%] text-black;
}
.title-section-ivory {
    @apply font-oswald tab:text-4xl pc:text-5xl text-ivory text-[28px] leading-none;
}

.green-gradient {
    background: linear-gradient(
        -45deg,
        #023f2c 0%,
        #09684b 21%,
        #0b7556 35%,
        #08654a 52%,
        #003626 83%
    );
}
.cta-green-gradient {
    background: linear-gradient(
        289.82deg,
        #023f2c -2.91%,
        #09684b 17.72%,
        #0b7556 31.22%,
        #08654a 47.06%,
        #003626 77.29%
    );
}

.hover-green-gradient {
    background: transparent;
    transition: all 0.3s;
}

.book-gradient {
    background: radial-gradient(
        57.19% 63.11% at 50% 49.2%,
        #003626 50%,
        rgba(0, 54, 38, 0) 89%
    );
}

.about-hero-gradient {
    background: radial-gradient(
        173.59% 57.64% at 18.28% 90.66%,
        #023f2c 14.37%,
        rgba(9, 104, 75, 0.7) 35.35%,
        rgba(11, 117, 86, 0.5) 53.1%,
        rgba(8, 101, 74, 0.3) 66.28%,
        rgba(57, 166, 112, 0) 84.64%
    );
}

.services-hero-big {
    background: radial-gradient(
        56.13% 262.73% at 0% 2.48%,
        #023f2c 14.37%,
        #09684b 41.23%,
        #0b7556 52.66%,
        rgba(8, 101, 74, 0.5) 63.6%,
        rgba(0, 54, 38, 0) 83.34%
    );
}

.book-height {
    height: 723px;
}

.hide-scrollbar {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE 10+ */
    overflow: auto; /* або overflow-x/y */
}

.hide-scrollbar::-webkit-scrollbar {
    display: none; /* Chrome, Safari */
}

.booking-image {
    aspect-ratio: 1440/935;
    background-image:
        linear-gradient(#065d43, #065d43), url("/images/booking.png");

    background-blend-mode: hard-light;
    background-size: cover;
    background-position: center;
}
.react-datepicker__header {
    background-color: #fffff0 !important;
    border-bottom: none !important;
    padding: 0 !important;
}
.react-datepicker__triangle {
    fill: #fffff0 !important;
    color: #fffff0 !important;
}
.react-datepicker__day--today--selected,
.react-datepicker__day--selected {
    background-color: #151515 !important;
    color: #fffff0 !important;
    border-radius: 9999px !important;
    transition: all 0.2s ease;
}

.react-datepicker__day--today {
    border: 1px solid #151515;
    background-color: transparent;
    color: #151515;
    border-radius: 9999px !important;
}

.react-datepicker__day--today:hover,
.react-datepicker__day--selected:hover,
.react-datepicker__day:hover {
    border: 1px solid #151515;
    background-color: transparent !important;
    border-radius: 9999px !important;
    color: #151515 !important;
}
.react-datepicker__day {
    border: 1px solid transparent;
    border-radius: 9999px;
}
.react-datepicker__day-names {
    color: #151515 !important;
    margin-left: 10px !important;
}
.react-datepicker-popper {
    z-index: 20 !important;
}

input,
textarea,
select,
option {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    box-shadow: none;
}
@media (max-width: 767px) {
    .hover-green-gradient:active {
        background: linear-gradient(
            -45deg,
            #023f2c 0%,
            #09684b 21%,
            #0b7556 35%,
            #08654a 52%,
            #003626 83%
        );
    }
}
@media (min-width: 768px) {
    .hover-green-gradient:hover,
    .hover-green-gradient:active {
        background: linear-gradient(
            -45deg,
            #023f2c 0%,
            #09684b 21%,
            #0b7556 35%,
            #08654a 52%,
            #003626 83%
        );
    }
}
@media (min-width: 768px) and (max-width: 1023px) {
    .book-height {
        height: 240px;
    }
}

@media (min-width: 1024px) and (max-width: 1439px) {
    .book-height {
        height: 100px;
    }
}
@media (min-width: 1440px) {
    .book-height {
        height: 0px;
    }
    .booking-image {
        aspect-ratio: 1440/785;
    }
    .book-gradient {
        background:
            linear-gradient(
                90.43deg,
                rgba(11, 117, 86, 0.5) 0.37%,
                rgba(0, 54, 38, 0.7) 40.4%,
                #003626 44.79%,
                #003626 54.71%,
                rgba(0, 54, 38, 0.7) 59.66%,
                rgba(11, 117, 86, 0.5) 99.63%
            ),
            radial-gradient(
                42.77% 50% at 50% 0%,
                #003626 46.98%,
                rgba(0, 54, 38, 0) 88.89%
            );
    }
    #booking.book-gradient {
        background: none;
    }
}
/* * {
    outline: 1px solid red;
} */

@keyframes marquee {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}

.animate-marquee {
    animation-name: marquee;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-play-state: running;
}
